### INTRODUCCION PYHTON

In [10]:
#Tipos de datos numericos (no se declara el tipo)
a = 1; b = 2; c = 3
d = 4.0; y = range(7)

#Python permite conocer que tipo de dato es
tipo = type(a) 
print(type(d))
y

<class 'float'>

range(0, 7)

In [135]:
#Conversion o cast de tipos
x = 7.5
print(type(x))

x1 = int(x)
print(x1)

x2 = str(x)
print(x2)

<class 'float'>
7
7.5

In [136]:
#Operaciones
suma = a+b
resta = c-a
multiplicacion = b*c
division = c/b
moduloDivision = c%b

In [137]:
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(moduloDivision)

3
2
6
1.5
1

### STRINGS EN PYTHON

In [16]:
#Tipo STRING
e = 'Hola'; f = 'agh154g'

In [17]:
print(f)
print('Hello world')
print('Hello123\nWorld')
print('Hola\tMundo')
print('Union de strings'+' xd')
print('A' * 4)
print('\n')
a = 1
print('El valor de a es: ', a)
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

agh154g
Hello world
Hello123
World
Hola	Mundo
Union de strings xd
AAAA


El valor de a es:  1
We are the so-called "Vikings" from the north.

In [18]:
#Reversed string
e[::-1]

'aloH'

In [140]:
#comprobar si un caracter se encuentra en un string
'a' in e

True

In [141]:
#Extraer posiciones de un string
print(e[0])
print(f[0:3])
print(e[-1]) 
print(e[-2])
print(e[-3])
print(e[-4])
print(f[:-1]) #todas menos la ultima

H
agh
a
l
o
H
agh154

In [142]:
#Tipos String son inmutables, no se pueden modificar
#Se debe crear un nuevo string con el caracter reemplazado
e = 'h' + e[1:] 
print(e)

hola

In [143]:
#Tamaño del string
len(e)

4

### LISTAS EN PYTHON

In [1]:
#Tipos LISTAS (Arrays): objetos que pueden almacenar distintos tipos en su interior
numeros = [3, -9, 12, 1, -27]
caracteres = ['a', 'b', 'c', 'd', 'Hola']
lista = ['a',1,['b',2]]
emptyList = []

In [158]:
#extraccion de posiciones 
print(numeros[0:3])
print(lista[2])

[3, -9, 12]
['b', 2]

In [159]:
#Si son mutables
lista[0] = 'b'
print(lista[0])
len(emptyList)

b

0

In [160]:
#añadir elementos al final de la lista
caracteres.append(3)
caracteres

['a', 'b', 'c', 'd', 'Hola', 3]

In [161]:
#añadir elemento en la posicion
caracteres.insert(0,'new')
caracteres

['new', 'a', 'b', 'c', 'd', 'Hola', 3]

In [162]:
#eliminar elementos segun posicion (index)
caracteres.pop(4)
caracteres

['new', 'a', 'b', 'c', 'Hola', 3]

In [163]:
#podemos utilizar la funcion del
del numeros[0]
numeros

[-9, 12, 1, -27]

In [164]:
#eliminar elementos segun valor
numeros.remove(-9)
numeros

[12, 1, -27]

In [14]:
print('el {} es el maximo de la lista'.format(max(numeros)))
print('el {} es el minimo de la lista'.format(min(numeros)))

el 12 es el maximo de la lista
el -27 es el minimo de la lista

In [165]:
#conteo de elementos dado el valor
caracteres.count('a')

1

In [1]:
#Ordenar listas
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist1 = [100, 50, 65, 82, 23]
thislist1.sort()
print(thislist1)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]

In [9]:
#Revertir orden de las listas
lista1 = ['1','2','aabb',4,9,10,'z',2]
lista1.reverse()
print(lista1)

[2, 'z', 10, 9, 4, 'aabb', '2', '1']

In [5]:
#List comprehension
#creacion de lista de listas de x,y,z siempre que la suma de x,y,z sea distinto que n
x = int(input('Introduce un entero x: '))
y = int(input('Introduce un entero y: '))
z = int(input('Introduce un entero z: '))
n = int(input('Introduce un entero n: '))

print([[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k!=n])

Introduce un entero x:  3
Introduce un entero y:  4
Introduce un entero z:  2
Introduce un entero n:  6

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 2, 0], [0, 2, 1], [0, 2, 2], [0, 3, 0], [0, 3, 1], [0, 3, 2], [0, 4, 0], [0, 4, 1], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [1, 3, 0], [1, 3, 1], [1, 4, 0], [1, 4, 2], [2, 0, 0], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 3, 0], [2, 3, 2], [2, 4, 1], [2, 4, 2], [3, 0, 0], [3, 0, 1], [3, 0, 2], [3, 1, 0], [3, 1, 1], [3, 2, 0], [3, 2, 2], [3, 3, 1], [3, 3, 2], [3, 4, 0], [3, 4, 1], [3, 4, 2]]

In [2]:
#Distintas maneras para aplicar una funcion en una lista

#definimos una funcion
def doblar(numero):
    return numero*2

numeros = [2, 5, 10, 23, 50, 33]

#la funcion map aplica una funcion a todos los elementos de una lista
#debe indicarse como map(<funcion>,<elementoIterable>)
print(list(map(doblar, numeros)))

[4, 10, 20, 46, 100, 66]

In [53]:
#una funcion lambda permite definir una funcion de orden superior de manera mas concisa
#lambda <parametros>: <cuerpo de la funcion/resultado a devolver> [condiciones]

#esta funcion suma 1 al parametro si x es != 0 
miFuncion = lambda x: x+1 if (x!=0) else x
miFuncion(4)

5

In [44]:
#Aplicando la funcion map sobre la funcion lambda para un elemento x
numerosdoblados = list(map(lambda x: x*2,numeros))
numerosdoblados

[6, -18, 24, 2, -54]

In [45]:
#Aplicando la funcion lambda para cada elemento de la lista mediante un bucle for de list comprehension
lambda_func = lambda x: x*2
[lambda_func(x) for x in numeros]

[6, -18, 24, 2, -54]

In [10]:
numerosaleatorios = [1,2,8,9,6,24,56,77,90]

In [11]:
#usando list comprehension para extraer elementos divisibles entre 2
numerospares = [a for a in numerosaleatorios if a%2==0]

In [12]:
numerospares

[2, 8, 6, 24, 56, 90]

In [42]:
#volvemos a usar enumerate para conocer la posicion de los valores
list(enumerate(numeros))

[(0, 3), (1, -9), (2, 12), (3, 1), (4, -27)]

In [22]:
num = [2,4,5,6]
res = []
for i in num:
    i = i*2
    res.append(i)
print(res)

resultado = [a*2 for a in num]

print(resultado)

[4, 8, 10, 12]
[4, 8, 10, 12]

In [28]:
cuenta = list(map(lambda x: (x,numeros.count(x)), numeros))

In [29]:
cuenta

[(3, 1), (-9, 1), (12, 1), (1, 1), (-27, 1)]

### TUPLAS EN PYHTON

In [ ]:
#Una tupla es similar a un vector ordenado, permite valores duplicados y es inmutable

In [16]:
tupla = ('a','b',1,2,True,False,'a')
print(len(tupla))

7

In [17]:
tupla[0]

'a'

In [18]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
#Para modificar una tupla hacemos un cast previo a lista y luego a tupla

### SETS EN PYTHON

In [21]:
#una coleccion es desordenada, inmutable, no indexada y no acepta duplicados

In [66]:
coleccion = {1,2,3,4,5,6}
colec = {'a','b',1,2,3}

In [30]:
print(len(coleccion))
print(len(colec))

6
5

In [36]:
#Añade elemento a la coleccion
colec.add(4)
colec.add('pi')
colec

{1, 2, 3, 4, 'a', 'b', 'pi'}

In [37]:
#Eliminar un valor concreto
coleccion.remove(6)
coleccion

{1, 2, 3, 4, 5}

In [38]:
#Elimina el elemento ultimo (una lista es no ordenada, no se puede saber que elemento elimina)
coleccion.pop()
coleccion

{2, 3, 4, 5}

In [39]:
#Union de colecciones
set1 = colec.union(colec)
set1

{1, 2, 3, 4, 'a', 'b', 'pi'}

### DICCIONARIOS EN PYHTON

In [ ]:
#Diccionarios almacenan pares {clave:valor}, ordenada, mutable y no acepta duplicados

In [72]:
dicc = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [73]:
#Obtener valor segun clave
print(dicc['brand'])
print(dicc.get('brand'))

Ford
Ford

In [74]:
#Obtener todas las claves
print(dicc.keys())
#Obtener todos los valores
print(dicc.values())
#Obtener todos los pares clave valor
print(dicc.items())

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [75]:
#Cambio de par Clave-Valor
dicc['brand'] = 'Opel'
dicc

{'brand': 'Opel', 'model': 'Mustang', 'year': 1964}

In [76]:
#Update modifica, añade nueva clave-valor
dicc.update({'year': 2022})
dicc.update({'mph': 120})
dicc

{'brand': 'Opel', 'model': 'Mustang', 'year': 2022, 'mph': 120}

In [77]:
#Eliminar claves-valor
del dicc ['mph']
dicc

{'brand': 'Opel', 'model': 'Mustang', 'year': 2022}

In [78]:
dicc.pop('model') #o pop.item() que elimina el ultimo en 3.7
dicc

{'brand': 'Opel', 'year': 2022}

### TIPO ENUMERATE

In [ ]:
#Permite obtener un listado del indice y el valor sobre objetos iterables
#Se debe hacer luego un cast del tipo enumerate a tipo lista para visualizarlo

In [82]:
diccionarioEnumerada = list(enumerate(dicc))
lista = ['Miwe',1,True,'0']

In [87]:
print(diccionarioEnumerada)
listaEnumerada = list(enumerate(lista))
listaEnumerada

[(0, 'brand'), (1, 'year')]

[(0, 'Miwe'), (1, 1), (2, True), (3, '0')]

In [92]:
x = tuple(listaEnumerada)
y = dict(listaEnumerada)
print(x)
print(y)

((0, 'Miwe'), (1, 1), (2, True), (3, '0'))
{0: 'Miwe', 1: 1, 2: True, 3: '0'}